<h3>Welcome to Bitemaker!</h3>
<h3>Please create your Profile.</h3>
<%= form_for(@user) do |f|%>
<% if @user.errors.any? %>
  <div class="error_messages">
    <h2>Form is Invalid</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= f.label "Name:" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Email:" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Password:" %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label "Password Confirmation:" %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label "Postal Code:" %><br>
    <%= f.text_field :postal_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%= link_to "| Already have an account? Please Log In Instead |", sessions_path, method: :post %>

<% end %>
