<h1>
  <div class="mainheader"> BiteMaker </div>
</h1>

<% #postal code form %>

<div class="homepage">
<h1>SeatYourself</h1>
<h2>Weekly Specials</h2>

<% @restaurants.each do |restaurant| %>
  <h3><p><%= restaurant.name %></p></h3>
  <p>This Week's Special: <%= restaurant.special %></p>
  <%= link_to 'View Restaurant', restaurant_path(restaurant) %>
<% end %>

<h2>All Restaurants</h2>

<% @restaurants.each do |restaurant| %>
  <h3><%= restaurant.name %>, <%= restaurant.address  %></h3>
  <p><%= restaurant.description %></p>
  <p>Phone: <%= restaurant.phone_number %></p>
  <%= link_to 'View Restaurant', restaurant_path(restaurant) %>
<% end %>
<h2>
  <p><%= link_to "Add A New Restaurant", new_restaurant_url(@restaurant) %>
  </p>
</h2>

</div>
