<h1>Reservations#show</h1>


<!-- user is <%# @reservation.user %> -->
<main class="homepage">
  <% if flash[:success] %>
    <p class="success"><%= flash[:success] %></p>
  <% end %>
  <h1>Reservation at <%= @restaurant.name %></h1>
<table>
  <tr>
    <th>Time</th><td><%= @reservation.local_time.strftime("%H:%M") %></td>
  </tr><tr>
    <th>Date</th><td><%= @reservation.local_time.strftime("%h. %d, %Y") %></td>
  </tr><tr>
    <th>Party size</th><td><%= @reservation.party_size %></td>
  </tr><tr>
    <th></th><th><%= link_to "| Edit |", edit_reservation_path(@reservation) %>
      |
    <%= link_to " Cancel|", @reservation, method: :delete %></th>
  </tr>
</table>

</main>
