<!-- <h1>Restaurants#edit</h1>
<p>Find me in app/views/restaurants/edit.html.erb</p> -->
<span><%=image_tag("saison-number-2-best-new-restaurant-interior-940.jpg", alt: "saison-number-2-best-new-restaurant-interior-940.jpg", class: "img_header")%></span>

<div class="homepage">
  <h1>Edit Restaurant</h1>

  <%= render 'form' %>

  <%= link_to "Delete Restaurant", @restaurants, method: :delete %>
  <%= link_to "Add New Restaurants", new_restaurant_url %>
  <%= link_to "All Restaurants", restaurants_url %>
  <%= link_to "Back to Restaurant", restaurant_url(@restaurants) %>
  <%= link_to "Home Page", root_url %>
</div>
