<!-- <h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>

 -->
<<<<<<< HEAD

 <h1><div class="all_restaurants_title"> Restaurants</div></h1>
=======
<div class="homepage">
 <h1>Restaurants</h1>
>>>>>>> 667136b728c51dac3dac9df6671d032a2ad7c3a1

 <% @restaurants.each do |restaurant| %>
   <a class="restaurants-link" href="/restaurants/<%= restaurant.id %>">
     <div class="all-restaurants">
       <h2><%= restaurant.name %></h1>
       <p><%= restaurant.address %></p>
       <%= (restaurant.opening_time).to_s(:time) %> to <%= (restaurant.closing_time).to_s(:time) %></p>
       <p><%= restaurant.description %></p>
     </div>
   </a>
 <% end %>
 </div>


 <%= link_to "New restaurant", new_restaurant_url %>
 <%= link_to "Home Page", root_url %>
