<!-- <h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p> -->
<div class="homepage">
  <h1><%= @restaurants.name %></h1>

  <div>
    <p>Address: <%= @restaurants.address %></p>
    <p>Hours Of Operation: <%= @restaurants.opening_time.to_s(:time) %> to <%=@restaurants.closing_time.to_s(:time) %></p>
    <p>Phone Number: <%= @restaurants.phone_number %></p>
    <p>Description: <%= @restaurants.description %></p>
    <p>Capacity: <%= @restaurants.capacity %></p>
    <p>Special: <%= @restaurants.special %></p>
  </div>


  <%= link_to "Make A Reservation", new_reservation_url %>
  <%= link_to "All Restaurants", restaurants_url %>
  <%= link_to "Edit Restaurant", edit_restaurant_url(@restaurants) %>
  <%= link_to "Home Page", root_url %>
</div>


<%=image_tag("restaurant-08-flagshipphoto.jpg", alt: "restaurant-08-flagshipphoto.jpg", class: "img_header")%>
