<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
  <head>
    <title>Seatyourself</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark" rel="stylesheet">
  </head>


  <body>
  <header>
    <div class="home_link">
      <a href="/">
        <span id="logo"><%= image_tag "fwL3f46.png" %></span>
      </a>
    </div>
    <div class="userinfo">
        <% if current_user %>
          Signed in as <%= current_user.email %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
        <% else %>  <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
        <% end %>
    </div>
</header>

  <div class="notice">
    <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
    <% end %>
  </div>

  <%= yield %>

  <footer>
    © Bitemaker 2017
  </footer>
</body>



</html>
